.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.miniTitle {
  margin-top: -27px;
  margin-left: 3px;
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 15px;
  color: #fff;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.tbody::before {
  content: "";
  margin: 10px;
}

.overview {
  font-size: smaller;
}
